<%= simple_form_for( new_object, :url => url,
      :method => :post , 
      :html => {:class => "form-horizontal prevent_double_submit ajax-form   no_content_form",
        :id => "new_object"}) do |f| %>

	 


  <%= f.input :name  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "Name" %>

	<%= f.input :contact_person  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "Contact Person" %>

	<%= f.input :phone  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "Telepon" %>

	<%= f.input :mobile  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "HP" %>

	<%= f.input :bbm_pin  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "BBM" %>


	<%= f.input :email  , :input_html => {:class => "input-xlarge span5"}, 
  :label => "Email" %>
 
	<%= f.input :office_address  , :input_html => {:class => "input-xlarge span5", :rows => 5}, 
  :label => "Alamat Kantor" %>

	<%= f.input :delivery_address  , :input_html => {:class => "input-xlarge span5", :rows => 5}, 
  :label => "Alamat Pengiriman" %>


  <div class="form-actions">
    <%= f.button :submit , :class => "btn btn-primary", :value=> "Create Customer" %>
  </div>
<% end %>