<%= render :partial => "layouts/masthead" ,:locals => {
	:title => "Employee Management",
	:description => "Service Performed by #{@employee.name}"
}%>

<div id="content">

	<div class="container">
		
		
		<div class="row">
			
			<div class="span8">
				 
				 
 
				<table class="table table-bordered table-striped table-highlight" id='tableview'>
					<thead>
						<tr>
							<th>Invoice Code</th>
							<th>Date</th>
							<th>Service</th>  
							<th>Harga</th>  
						</tr>
					</thead>
					<tbody> 
						<% @service_items.each do |object| %>
							<tr id="entry-<%= object.id %>">
								<td>
									<%= "#{object.sales_entry.sales_order.code}" %>
								</td>
								<td>
									<%= print_date( object.created_at ) %>
								</td>

								<td>
									<%= object.service.name  %>
								</td>
								
								<td>
									<%= print_money( object.sales_entry.total_sales_price)%>
								</td>
 
							</tr>
						<% end %>
					</tbody>
				</table> 
			</div> <!-- /.span8 -->
			
			
			<div class="span4">
				
						
				<a href="javascript:;" class="btn btn-large btn-primary btn-block btn-big-block">Tree View</a>	
				
				
				<a href="javascript:;" class="btn btn-large btn-tertiary btn-block btn-big-block">Contact Support</a>
				
				
				<div>
				</div> <!-- /.table wrapper -->
						
				
			</div> <!-- /.span4 -->
			
		</div> <!-- /.row -->
		
	
	</div> <!-- /.container -->

</div> <!-- /#content -->