<% entry_object = sales_entry.item %>
<tr id='entry-<%= sales_entry.id %>'>
	<td class='identifier'>
		<%= entry_object.name %> 
		
		<% if sales_entry.is_service? %>
			<%= " : #{sales_entry.service_item.selected_employee.name }"%>
		<% end %>
		
	</td>

	<td>
		<%= sales_entry.quantity %>
	</td>

	<td>
		<%= print_money( sales_entry.selling_price_per_piece )%>
	</td>

	<td>
		<%= print_money( sales_entry.total_price )%> 
	</td>
	
	<td>
		<%= link_to root_url, :class =>"delete_entry", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-remove'></i>Delete
		<% end %> 
	</td>
	
	<td>
		<%= link_to edit_sales_order_sales_entry_url(sales_order, sales_entry), 
			:class =>"edit_entry modal-toggler", :style => "cursor:pointer; text-decoration:none;" do %>
			<i class='icon-edit'></i>Edit
		<% end %>
	</td>
</tr>